[submodule "liquidfun"]
	path = liquidfun
	url = https://github.com/google/liquidfun.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "acd2d"]
	path = acd2d
	url = https://github.com/jmlien/acd2d.git
